<div class="aboutWrapper">
    <h1>About</h1>
    <p>Keith Isbell is an experienced medical technologist, database administrator, full-stack programmer and teacher with a strong desire
        to serve other people in a challenging environment. </p>
    <h2>Programming Experience</h2>
    <div class="listWrapper">
        <li>JavaScript</li>
        <li>Advanced C#</li>
        <li>TypeScript</li>
        <li>Angular</li>
        <li>MySQL</li>
        <li>Visual Basic for Access</li>
    </div>
</div>