.job{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 5px solid lightskyblue;
    border-radius: 10px;
    padding: 5px;
    left:0;
    right:0;
    margin: 5% 20%;
}